<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sishuok.architecture1.goodsmgr.dao.GoodsMapperDAO">  
     <insert id="create" parameterType="GM">
     	insert into tbl_goods (name,imgPath,description) 
     	 values(#{name},#{imgPath},#{description})
     </insert>
     <update id="update" parameterType="GM">
     	update tbl_goods set name=#{name},imgPath=#{imgPath},description=#{description}
     	   	where uuid=#{uuid}
     </update>
     <delete id="delete" parameterType="int">
     	delete from tbl_goods where uuid=#{uuid}
     </delete>
     
    <select id="getByUuid" parameterType="int" resultType="GM">  
        select * from tbl_goods where uuid=#{uuid}
    </select>  
    <select id="getByConditionPage" parameterType="GQM" resultType="GM">  
        select * from tbl_goods
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="name!=null &amp;&amp; name!=''">
        		and name like #{name}
        	</if>
        	
        </where>
    </select>
    <select id="getByIds" parameterType="String" resultType="GM">  
        select * from tbl_goods where uuid in (#ids)
    </select>
    <select id="getIdsByConditionPage" parameterType="GQM" resultType="int">  
        select uuid from tbl_goods
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="name!=null &amp;&amp; name!=''">
        		and name like #{name}
        	</if>
        	
        </where>
    </select> 
</mapper>