<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sishuok.architecture1.ordermgr.dao.OrderDAO">  
     <insert id="create" parameterType="OM">
     	insert into tbl_order (customerUuid,orderTime,totalMoney,saveMoney ,state) 
     	 values(#{customerUuid},#{orderTime},#{totalMoney},#{saveMoney },#{state})
     </insert>
     <update id="update" parameterType="OM">
     	update tbl_order set customerUuid=#{customerUuid},orderTime=#{orderTime},totalMoney=#{totalMoney},saveMoney =#{saveMoney },state=#{state}
     	   	where uuid=#{uuid}
     </update>
     <delete id="delete" parameterType="int">
     	delete from tbl_order where uuid=#{uuid}
     </delete>
     
    <select id="getByUuid" parameterType="int" resultType="OM">  
        select * from tbl_order where uuid=#{uuid}
    </select>  
    <select id="getByConditionPage" parameterType="OQM" resultType="OM">  
        select * from tbl_order
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	<if test="orderTime!=null &amp;&amp; orderTime!=''">
        		and orderTime=#{orderTime}
        	</if>
        </where>
    </select> 
</mapper>