<?xml version="1.0" encoding="UTF-8" ?>    
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sishuok.architecture1.storemgr.dao.StoreDAO">  
     <insert id="create" parameterType="StoreM">
     	insert into tbl_store (goodsUuid,storeNum) 
     	 values(#{goodsUuid},#{storeNum})
     </insert>
     <update id="update" parameterType="StoreM">
     	update tbl_store set goodsUuid=#{goodsUuid},storeNum=#{storeNum}
     	   	where uuid=#{uuid}
     </update>
     <delete id="delete" parameterType="int">
     	delete from tbl_store where uuid=#{uuid}
     </delete>

     <select id="getByGoodsUuid" parameterType="int" resultType="StoreM">  
        select * from tbl_store where goodsUuid=#{goodsUuid}
    </select>
    <select id="getByUuid" parameterType="int" resultType="StoreM">  
        select * from tbl_store where uuid=#{uuid}
    </select>  
    <select id="getByConditionPage" parameterType="StoreQM" resultType="StoreM">  
        select * from tbl_store
        <where>
        	<if test="uuid!=null &amp;&amp; uuid > 0">
        		and uuid=#{uuid}
        	</if>  
        	
        </where>
    </select> 
</mapper>